html * {
    box-sizing: border-box;
}
body
    {
    background-color: rgba(100, 300, 100, 100);
    background-image
    }
h1 {
    color: black;
    text-align: center;
    font: 25px Georgia, sans-serif, font-weight: bold
}
h3 {
    font-family: Helvetica;
    text-align: center;
}

table {
    font-size: 10pt;
    color:#131313;
    font-family: Helvetica;
    margin: 30px;
    border: 1px solid #525252;
    }

th {
    border-width: 1 1px 0;
    border: collapse;
}

td {
    font-size: 10pt;
    color:#242424;
    font-family: Helvetica;
    margin: 15px;
    border: 1px 0 #525252;
    }
.special {
    background-color: #d2def1;
}

#very-special {
    background-color: #c3ecd5
}
td, th, tr, thead, tbody {
    border: inherit;
   }
}
